{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div id="allposts-content">
        <div class="newpost">
            <p>New post</p>
            <textarea name="textarea-content" id="textarea-content" autocomplete="off"></textarea>
            <button id="submit-post" hidden=true>Post</button>
        </div>
    </div>
    <div id="profile-content"></div>
    <div id="following-content"></div>
{% endblock %}

{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}