.btn{
    background-color: transparent;
    border: none;

    &:focus{
        color: aqua;
    }
}

.body{
    padding: 20px;

    .newpost{
        padding: 10px;
        border: 1px solid lightgray;

        textarea{
            width:100%;
            border:none;
            resize: none;

            &:focus{
                outline: none;
            }
        }

        #submit-post{
            display: block;
            background-color: transparent;
            border: 1px solid lightgray;
            margin-left: auto;
            width: fit-content;

            &:hover{
                color : blue;
                background-color: lightgray;
            }
        }
    }

    .post-element{
        border:1px solid lightgray;
        padding: 10px;

        span{
            color: grey;
            font-size: 12px;
        }

        .post-text{
            font-size: 12px;
        }
    }
}


