.btn{
    background-color: transparent;
    border: none;

    &:focus{
        color: aqua;
    }
}

.body{
    padding: 20px;

    .newpost{
        padding: 10px;
        border: 1px solid lightgray;

        textarea{
            width:100%;
            border:none;
            resize: none;

            &:focus{
                outline: none;
            }
        }

        #submit-post{
            display: block;
            background-color: transparent;
            border: 1px solid lightgray;
            margin-left: auto;
            width: fit-content;

            &:hover{
                color : blue;
                background-color: lightgray;
            }
        }
    }

    .post-element{
        border:1px solid lightgray;
        padding: 10px;

        button{
            border: none;
            background: transparent;
            opacity:0.7;
            font-weight: 600;
            padding: 0; 

            &:hover{
                opacity: 1; 
                color: blue;
            }
        }

        span{
            color: grey;
            font-size: 12px;
        }

        .post-text{
            font-size: 12px;
        }

        #post-form{
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            textarea{
                width:90%;
            }

            button{
                margin:20px;
            }
        }
        
    }

    .nav-buttons{
        display: flex; 
        align-items: center;
        padding: 20px 0;

        button{
            background-color: transparent;

            &:hover{
                background-color: lightgray;
                color:blue;
            }
        }

        .next{
            width:fit-content;
            margin-left: auto;
        }
    } 

    .user-infos{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border:1px lightgray solid;
        background-color: rgb(240, 238, 238);

        p{
            font-style: italic;
            font-size: 14px;
            padding: 10px; 
            margin:0;
        }

        button{
            margin-left: 50px;
            width: fit-content;
            background: transparent;
            //border:none;
            opacity: 0.7;
            //margin:auto;

            &:hover{
                opacity: 1; 
                color:blue;
            }
        }
    }
}


